
torch~=2.8.0
torchaudio~=2.8.0
torchvision~=0.23.0
triton~=3.4.0
xformers~=0.0.32.post2
lightning~=2.6.1
torchmetrics
optuna
numpy
typing_extensions
scikit-learn
tqdm
dash
dash-mantine-components
diskcache
pandas
pillow
matplotlib
torchinfo
ray
joblib
opencv-python
pyyaml
flask
whitenoise
grad-cam
optuna-integration
wandb
rich
tensorboard